@model BlogMVC.Models.Blog

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="mt-4">Create</h1>
    <h4>Blog</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <input asp-for="Name" class="form-control" placeholder="Name" required/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <textarea asp-for="Description" class="form-control" placeholder="Description" required></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input type="file" asp-for="ImageFile" class="form-control" accept=".jpg,.png,.gif" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Create" class="btn btn-secondary-color text-light" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to all blogs</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
