:root {
    --primary-color: #8d367c;
    --secondary-color: rgb(146,53,122);
}

.btn-secondary-color{
    background-color: var(--secondary-color);
    color:whitesmoke;
}

.btn-secondary-color:hover {
    background-color: rgb(200,43,95);
}

a{
    color: var(--secondary-color);
}

.btn-modal{
    color: var(--secondary-color);
}
.btn-modal:hover {
    color: blue;
}
a:hover {
    color: blue;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    text-decoration: none;
}
.square-end {
    border-start-end-radius:0;
    border-end-end-radius: 0;
}

.btn-square-start{
    border-start-start-radius: 0;
    border-end-start-radius: 0;
}

.contentTextarea {
    height: 500px;
    min-height: 300px !important;
    max-height: 500px;
}

.commentTextarea {
    height:200px;
    max-height: 200px;
}

.blog-img-header-img {
    height: 300px;
    background: #cc2b5e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}