@using Microsoft.AspNetCore.Identity
@using BlogMVC.Data

@model BlogMVC.Models.Post

@inject SignInManager<BlogUser> singInManager
@inject UserManager<BlogUser> userManager

@{
    ViewData["Title"] = "Details";
    var userId = userManager.GetUserId(User);
}

<div class="container">
    <div class="row pt-5">
        <div class="col-sm-9">
            <h4 class="fw-bold text-center">@Model.Title</h4>
            <div class="d-flex justify-content-center p-3 border-end">
                <div>
                    <p class="text-wrap">@Html.Raw(Model.Content)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <section>
                <h6 class="fw-normal">Tags</h6>
            </section>
        </div>
    </div>
    <div>
        @if (singInManager.IsSignedIn(User) && (userId == Model.AuthorId))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
        }
        
        |<a class="" asp-controller="Blogs" asp-action="Details" asp-route-id="@Model.BlogId">Back to List</a>
    </div>
</div>

